html {
  font-size: 10px;
  background: url('../img/pic.jpg') bottom center;

  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-content: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid #00000;
  border-radius: 3rem;
  margin: 1.6rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem #eeeeee;
}

.playing {
  transform: scale(1.2);
  border-color: #862633;
  box-shadow: 0 0 2rem #862633;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #862633;
}
